# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Log files
*.log
/target/tomcat/logs/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE - Eclipse
.settings/
.project
.classpath
.factorypath

# IDE - IntelliJ
.idea/
*.iml
*.iws
out/

# IDE - VS Code
.vscode/

# Project Specific
.env
src/main/resources/results/*.xml
src/main/resources/config.properties
